.layout-container {
    margin-left: 7.35%;
    margin-right: 7.35%;
}

.headline {
    text-decoration: none;
}

.logo {
    overflow: hidden;
    width: 136px;
    height: 49px;
    margin-top: -6px;
}

.loading img {
    border-radius: 100px;
}

.headline-img {
    height: 100px;
}