.layout-container {
    margin-left: 7.35%;
    margin-right: 7.35%;
}

.headline {
    text-decoration: none;

}
.logo {
    overflow: hidden;
    width: 136px;
    height: 49px;
    margin-top: -6px;
}

.loading img {
    border-radius: 100px;
}

.headline-img, .headline-text {
    height: 150px;
}

.headline-text {
    width:100%;
    color: black;
    border: 1px solid gray;
    border-left: none;
    transition: background-color 325ms, color 325ms;
}

.headline-text:hover {
    background-color: #2097e3;
    color: white;
}